<div class="card border-danger">
  <div class="card-header text-white bg-danger ">
    <span class="h6">Add User</span>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input name="first_name" required [(ngModel)]="form.first_name" type="text" placeholder="First name"
            class="form-control">
          <input name="last_name" required [(ngModel)]="form.last_name" type="text" placeholder="Last name"
            class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input name="email" required email [(ngModel)]="form.email" #email="ngModel" type="text" placeholder="Email"
            class="form-control">
        </div>
        <span class="help-block" *ngIf="!email.valid&&email.touched"> Please enter a valid email id.</span>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Phone</span>
          </div>
          <input name="phone" required [(ngModel)]="form.phone" type="text" placeholder="Phone" class="form-control">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="error">{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf="success">{{successMessage}}</div>
      <div class="row justify-content-md-center">
        <button type="submit" [disabled]="!f.valid" class="btn btn-danger mr-1">Submit</button>
        <button type="button" (click)="cancel()" class="btn btn-outline-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>
