<div class="card border-danger mb-lg-5">
  <div class="card-header text-white bg-danger ">
    <span class="h4">Users</span>
    <button (click)="addUser()" type="button" class="btn btn-outline-light float-right">
      <fa name="user-plus"></fa>
      Add Users
    </button></div>
  <div class="card-body">
    <form>
      <div class="form-group form-inline">
        Search Users: <input class="form-control form-control-sm" type="text" [formControl]="filter" />
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" container="body" ngbTooltip="Sort" (click)="sorter('first_name')">
            First Name
            <fa name="sort"></fa>
          </th>
          <th scope="col" container="body" ngbTooltip="Sort" (click)="sorter('last_name')">
            Last Name
            <fa name="sort"></fa>
          </th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="user.first_name" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.last_name" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.email " [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.phone " [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <a container="body" ngbTooltip="edit" [routerLink]="['/home/edituser','edit']" [queryParams]="user">
              <fa class="mr-2 blue" name="edit"></fa>
            </a>

            <a container="body" ngbTooltip="delete" (click)="user.conf=true">
              <fa class="red" name="trash"></fa>
            </a>
            <div *ngIf="user.conf" class="alert alert-danger">are you sure?
              <button type="button" (click)="delete(user.id,i)" class="btn btn-sm btn-danger mr-1">Delete</button>
              <button type="button" (click)="user.conf=false" class="btn btn-sm btn-outline-danger">Cancel</button>
            </div>
          </td>
        </tr>
        <tr *ngIf="users.length==0"><td colspan="6" ><p style="text-align: center">You havent added any users yet.Click Add Users button on top. </p> </td></tr>
      </tbody>
    </table>
  </div>
</div>
