<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="#">
    <img src="https://coryrylan.com/assets/images/posts/types/angular.svg" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Assignment
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <button type="button" class="btn btn-outline-light" (click)="logout()">
      <fa name="lock"></fa> Log out
    </button>
  </div>
</nav>
